<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Logicat - Bem-vindo</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="page-welcome">

    <div class="welcome-container">
        <img src="/static/assets/LogicatLogo1-removebg-preview.png" alt="Logicat Logo" class="logo">
        
        <p class="subtitle">A plataforma inteligente de análise de questões do ENEM.</p>
        
        <a href="/home" class="btn-green">Cadastre-se agora</a>
        <a href="/home" class="btn-green">Continuar com sua conta</a>
    </div>

</body>
</html>